html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  font-size: 14px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}
.ol-popup-closer:after {
  content: "✖";
}
.layer-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Panel znajdzie się nad mapą */
  background: rgba(255, 255, 255, 0.9); /* Półprzezroczyste tło */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Dodanie lekkiego cienia */
}

.layer-controls label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}